<!DOCTYPE html>
<html>
<head>
    <title><GuestBook</title>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
</head>
<body clss="container">
<h1>
    Express GuestBook <a href="/new-entry" class="btn btn-primary pull-right">글쓰기</a>
</h1>
