<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
this is index page!

<div>Cookie passed: <%= cookie %></div>
<div>Signed Cookie passed : <%= signedCookie %></div>
<div>Session: <%= session %></div>
</body>
</html>